@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@font-face {
  font-family: "Mistral";
  src: local("Mistral"), url("https://nomail.com.ua/files/woff/13f2e175662afea601b06f8203307bb0.woff") format("woff"); }
@font-face {
  font-family: "KenyanCoffeeRg";
  src: local("KenyanCoffeeRg-Bold"), url("https://nomail.com.ua/files/woff/5bc010a080942e362f4a5aa22a07c9e7.woff") format("woff"); }
@font-face {
  font-family: "Myriad-Pro";
  src: local("MyriadPro-Regular"), url("https://nomail.com.ua/files/woff/4dc5956a31b5832b356867433bb4e516.woff") format("woff"); }
.page {
  display: grid;
  overflow: hidden;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

.header {
  margin-top: 5px; }
  .header h1 {
    display: inline;
    margin: 0; }
  .header .nav-item {
    list-style: none; }
  .header .navbar {
    margin: 0; }
  .header .nav-link {
    color: #999999;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 0.65px; }
  .header .active {
    color: #303941; }
  .header .menu {
    margin-left: auto; }
  .header .brandname {
    margin-left: 11px;
    color: #3f3b48;
    font-family: Mistral;
    font-size: 42px;
    font-weight: 400;
    line-height: 42px; }
  .header .fa-icon {
    margin-left: 10px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    text-align: center;
    border-radius: 50%; }
    .header .fa-icon i {
      padding: 8px;
      font-size: 16px;
      border: 2px solid #303941;
      border-radius: 50%; }

.mainpage .devices {
  height: 355px;
  background-image: url("../../img/devices.webp"), url("../../img/Mountain.webp");
  background-repeat: no-repeat, no-repeat;
  background-position: center -15px, center 150px; }
.mainpage p,
.mainpage h1 {
  margin: 0; }
.mainpage .title {
  margin-top: 70px;
  padding-bottom: 300px; }
.mainpage .left {
  text-align: right; }
.mainpage .left-text-top {
  color: #3f3b48;
  font-family: Pacifico;
  font-size: 34px;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.4px; }
.mainpage .text-bottom {
  color: #3f3b48;
  font-family: "KenyanCoffeeRg";
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase; }
.mainpage .middle-text {
  margin: 0 10px;
  color: #ff0000;
  font-family: "KenyanCoffeeRg";
  font-size: calc( 90px + 43 * ((100vw - 320px) / 960) );
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase; }
.mainpage .middle {
  display: flex;
  align-items: center; }
.mainpage .right {
  display: flex;
  align-items: flex-end; }

.middle-block {
  margin-top: 52px;
  display: flex;
  justify-content: space-between; }

.projects {
  background-color: #3f3b48; }
  .projects p {
    margin: 0;
    color: #ffffff; }
  .projects .title {
    padding-top: 125px;
    display: flex;
    justify-content: center; }
  .projects .left-top-text {
    font-family: Pacifico;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 39px;
    line-height: 1; }
  .projects .left-bottom-text {
    font-family: "KenyanCoffeeRg";
    font-size: 52px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase; }
  .projects .right-text {
    margin-left: 10px;
    font-family: "KenyanCoffeeRg";
    font-size: 104px;
    font-weight: 700;
    line-height: 0.9;
    text-transform: uppercase; }
  .projects .briliant {
    max-width: 320px; }
    .projects .briliant__title {
      color: white;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: 53px;
      text-transform: uppercase; }
    .projects .briliant__body {
      margin-bottom: 30px;
      opacity: 0.6;
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px; }
    .projects .briliant__trophy, .projects .briliant__listitems, .projects .briliant__rating {
      color: #ffffff;
      font-family: Montserrat;
      word-spacing: 4px;
      font-size: 14px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase; }
  .projects .technologyUse {
    padding-left: 50px; }
    .projects .technologyUse__title {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: 53px;
      text-transform: uppercase; }
  .projects .phone-background {
    width: 576px;
    height: 460px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-image: url("../../img/background-phone.png");
    background-repeat: no-repeat;
    background-size: 100%; }
  .projects .phone-image {
    z-index: 4;
    position: relative; }
  .projects .phone {
    position: relative; }
  .projects .android,
  .projects .html,
  .projects .css {
    width: 90px;
    height: 100px;
    background-color: #635f6d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase; }
  .projects .html {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  .projects .css {
    margin: 0 1px; }
  .projects .android {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  .projects .technology-icon {
    font-size: 30px; }

.selectpage {
  padding-bottom: 95px;
  padding-top: 50px; }
  .selectpage__number {
    height: 45px;
    width: 70px;
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #3f3b48;
    border: 3px solid white;
    position: relative;
    z-index: 3; }
  .selectpage__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3f3b48;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 1; }
  .selectpage__number::after {
    content: " ";
    position: absolute;
    border: 3px solid white;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 80%;
    height: 140%;
    border-radius: 50%;
    background-color: #3f3b48;
    z-index: -1; }
  .selectpage__currect {
    position: relative;
    z-index: 2; }
  .selectpage__currect::after {
    content: "/";
    display: inline-block; }
  .selectpage__total {
    position: relative;
    z-index: 2;
    font-size: 12px;
    transform: translateY(-0.3rem) translateX(0.2rem); }
  .selectpage__previos, .selectpage__next {
    text-align: center;
    height: 45px;
    position: relative;
    z-index: 0;
    width: 160px;
    color: #333333;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer; }
  .selectpage__previos::after, .selectpage__next::after {
    content: " ";
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .selectpage__previos::after {
    clip-path: polygon(0 0, 100% 9px, 100% calc(100% - 9px), 0 100%); }
  .selectpage__next::after {
    clip-path: polygon(100% 0, 100% 100%, 0 calc(100% - 9px), 0 9px); }

.howWeWork {
  background-image: url("../../img/background.png");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-bottom: 250px; }
  .howWeWork .title {
    padding-top: 80px; }
    .howWeWork .title__left, .howWeWork .title__right {
      color: #ff0000;
      font-family: "KenyanCoffeeRg";
      font-size: 104px;
      font-weight: 700;
      line-height: 87px;
      text-transform: uppercase; }
    .howWeWork .title__center {
      color: #3f3b48;
      font-family: "KenyanCoffeeRg";
      font-size: 82px;
      font-weight: 700;
      line-height: 0.88;
      text-transform: uppercase;
      position: relative;
      margin: 0 8px; }
    .howWeWork .title__center::after {
      content: " ";
      bottom: -19px;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 75px;
      height: 10px;
      background-color: #3f3b48; }

.body__plan {
  max-width: 290px; }
.body__title {
  margin-top: 80px;
  color: #333333;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 53px;
  text-transform: uppercase; }
  .body__title i {
    font-size: 28px;
    margin-right: 5px; }
.body__text {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; }
.body__action {
  max-width: 290px; }
.body__launch {
  max-width: 290px; }

.btn-danger {
  margin-top: 55px;
  background-color: #ff0000;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  width: 204px;
  height: 41px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }

.figure {
  padding: 20px;
  margin-left: 50px;
  width: 337px;
  height: 445px;
  background-color: #595466; }

.figure-caption {
  margin-top: 30px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.figure-text {
  height: 32px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  margin-top: 20px; }

.figure__readarticle {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase; }
  .figure__readarticle .fa-chevron-circle-right {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; }

.corusel {
  background-color: #3f3b48;
  padding: 90px 0; }
  .corusel .title {
    color: #ffffff;
    margin-bottom: 80px;
    font-family: "KenyanCoffeeRg"; }
  .corusel .title-left-top {
    font-family: Pacifico;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 39px; }
  .corusel .title-left-bottom {
    font-size: 52px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase; }
  .corusel .title-middle {
    font-size: 104px;
    font-weight: 700;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 0 10px; }
  .corusel .title-right {
    font-size: 52px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase; }

/*====================slider=================== */
.swiper-container {
  width: 100vw;
  min-height: 450px; }

.swiper-slide {
  padding: 20px;
  margin-left: 50px;
  width: 340px;
  min-height: 445px;
  background-color: #595466; }

.swiper-slide:last-child {
  margin-right: 50px; }

.swiper-scrollbar-drag {
  cursor: pointer; }

.swiper-scrollbar-drag__ball {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 20px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 49%, rgba(0, 0, 0, 0.15) 100%);
  display: block;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  cursor: pointer;
  height: 20px; }

.swiper-scrollbar {
  position: relative;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: 50;
  width: 70%;
  margin-top: 70px;
  height: 8px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1), inset 1px 1px 1px rgba(0, 0, 0, 0.37);
  background-color: #2f2c36; }

.slide-preview {
  width: 300px;
  height: 250px;
  background-color: #3f3b48;
  position: relative; }

.slide-calenar {
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 72px;
  border-radius: 5px;
  overflow: hidden; }

.slide-calendar-date {
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 55px;
  color: #3f3b48;
  font-family: Montserrat;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase; }

.slide-calendar-month {
  margin: auto 0;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 25px;
  background-color: #3f3b48;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase; }

.slide-author {
  margin-top: 30px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.slide-text {
  margin-top: 20px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-overflow: ellipsis; }

.slide-read {
  margin-top: 30px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase; }
  .slide-read .fa-chevron-circle-right {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-right: 10px; }

.funFacts {
  padding-bottom: 200px;
  position: relative; }
  .funFacts .title {
    padding-top: 90px;
    margin-bottom: 80px; }
  .funFacts .title-left {
    color: #3f3b48;
    font-family: "KenyanCoffeeRg";
    font-size: 82px;
    font-weight: 700;
    line-height: 0.85;
    text-transform: uppercase;
    position: relative; }
  .funFacts .title-left::after {
    content: " ";
    bottom: 0;
    left: 3px;
    width: 91px;
    height: 10px;
    background-color: #3f3b48;
    position: absolute; }
  .funFacts .title-right {
    color: #ff0000;
    font-family: "KenyanCoffeeRg";
    font-size: 104px;
    font-weight: 700;
    line-height: 0.8;
    text-transform: uppercase; }
  .funFacts .ourfavoriteClients__title {
    color: #333333;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .funFacts .ourfavoriteClients__brands {
    max-width: 370px;
    min-height: 220px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #ededed, transparent);
    box-shadow: -2px -2px 0.5px rgba(0, 0, 0, 0.3); }
  .funFacts .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: #3f3b48;
    stroke-width: 1px;
    z-index: -1; }
  .funFacts .statistic {
    display: flex;
    position: relative;
    top: -100px; }
    .funFacts .statistic__ciricleFirst, .funFacts .statistic__happyClient, .funFacts .statistic__complitedProjects, .funFacts .statistic__bestshots, .funFacts .statistic__ciricleSecond, .funFacts .statistic__coffesmade, .funFacts .statistic__winningawards {
      border-radius: 50%;
      background-color: #3f3b48;
      z-index: 1;
      position: relative;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 38px;
      font-weight: 700;
      line-height: 25px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .funFacts .statistic__nameblock {
      position: absolute;
      bottom: -60px;
      color: #333333;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 700;
      line-height: 25px;
      text-transform: uppercase;
      overflow: visible;
      white-space: nowrap; }
    .funFacts .statistic__ciricleFirst {
      width: 32px;
      height: 32px;
      left: 3%;
      top: 180px; }
    .funFacts .statistic__happyClient {
      width: 112px;
      height: 112px;
      left: 10%;
      top: 50px; }
    .funFacts .statistic__complitedProjects {
      font-size: 26px;
      width: 82px;
      height: 82px;
      left: 17%;
      top: 160px; }
    .funFacts .statistic__bestshots {
      left: 20%;
      top: 40px;
      width: 112px;
      height: 112px; }
    .funFacts .statistic__ciricleSecond {
      left: 18%;
      top: -15px;
      width: 32px;
      height: 32px; }
    .funFacts .statistic__coffesmade {
      left: 25%;
      top: -60px;
      font-size: 21px;
      width: 71px;
      height: 71px; }
    .funFacts .statistic__winningawards {
      left: 30%;
      top: 0px;
      font-size: 72px;
      width: 190px;
      height: 190px; }

/*===================footer=================*/
.footer {
  padding: 20px 0;
  background-color: #3f3b48;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px; }
  .footer .social {
    margin-left: 5px;
    display: flex;
    align-items: center; }
    .footer .social .fa-icon {
      margin-left: 10px; }
  .footer .fa-icon {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    text-align: center;
    border-radius: 50%; }
    .footer .fa-icon i {
      position: relative;
      font-size: 16px;
      width: 33px;
      height: 33px; }
    .footer .fa-icon i:before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid white;
      border-radius: 50%; }

/* ================burger======================= */
.burger-active span {
  height: 0 !important;
  transition: all 0.5s; }
.burger-active::after {
  top: 50% !important;
  transform: rotate(-45deg);
  transition: all 0.5s; }
.burger-active::before {
  top: 50% !important;
  transform: rotate(45deg);
  transition: all 0.5s; }
.burger-active::after, .burger-active::before, .burger-active span {
  background-color: white !important;
  box-shadow: 0 0 1px red; }

.burger {
  z-index: 5;
  margin: 0 50px;
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer; }
  .burger span {
    top: 50%;
    transform: translate(0, -50%); }
  .burger::after {
    bottom: 0; }
  .burger::before {
    top: 0; }
  .burger::after, .burger::before, .burger span {
    content: " ";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    transition: all 0.5s; }

/*=================adaptive=============== */
@media (max-width: 425px) {
  .fa-envelope-o {
    display: none; }

  .burger {
    margin: 0; } }
body.fixed {
  overflow: hidden !important; }

@media (max-width: 1024px) {
  .statistic__ciricleFirst {
    left: 0% !important; }
  .statistic__happyClient {
    left: 4% !important; }
  .statistic__complitedProjects {
    left: 9% !important; }
  .statistic__bestshots {
    left: 8% !important; }
  .statistic__ciricleSecond {
    left: 3% !important;
    top: 20px !important; }
  .statistic__coffesmade {
    left: 11% !important; }
  .statistic__winningawards {
    left: 14% !important; }

  .briliant {
    margin: 0 auto; }

  .technologyUse {
    padding-left: 0 !important;
    text-align: center; }

  .technology__body {
    justify-content: center; }

  .middle-block {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center; } }
@media (max-width: 768px) {
  .statistic {
    top: 0 !important;
    flex-direction: column; }
    .statistic__ciricleFirst {
      left: 40% !important;
      top: -20px !important; }
    .statistic__happyClient {
      left: 15% !important;
      top: 10px !important; }
    .statistic__complitedProjects {
      left: 55% !important;
      top: 0px !important; }
    .statistic__bestshots {
      left: 40% !important;
      top: 50px !important; }
    .statistic__ciricleSecond {
      left: 20% !important;
      top: 0px !important; }
    .statistic__coffesmade {
      left: 15% !important;
      top: 50px !important; }
    .statistic__winningawards {
      left: 35% !important;
      top: 100px !important; }

  .funFacts .title-left {
    line-height: 1.2;
    margin-bottom: 5px;
    text-align: center; }
  .funFacts .title-left::after {
    left: 50%;
    transform: translate(-50%, -50%); }
  .funFacts .title-right {
    text-align: center; }

  .corusel .title {
    align-items: center !important; }
  .corusel .text-right {
    text-align: center !important; }
  .corusel .title-left-top {
    text-align: center !important; }
  .corusel .title-left-bottom {
    text-align: center !important; }
  .corusel .title-middle {
    text-align: center !important; }
  .corusel .title-right {
    text-align: center !important; }

  .howWeWork {
    background-size: 180%;
    padding-bottom: 150px; }
    .howWeWork .title {
      align-items: normal !important; }
      .howWeWork .title__left {
        display: flex;
        justify-content: center;
        text-align: center; }
      .howWeWork .title__center {
        text-align: center;
        margin: 10px 0 20px; }
      .howWeWork .title__right {
        text-align: center; }
    .howWeWork .body {
      flex-direction: column;
      justify-content: center !important;
      text-align: center; }
      .howWeWork .body__plan, .howWeWork .body__action, .howWeWork .body__launch {
        margin: 0 auto; }

  .footer .container {
    flex-direction: column; }
    .footer .container .licence {
      text-align: center; }

  .selectpage__previos,
  .selectpage__next {
    width: 110px;
    white-space: normal;
    text-align: center;
    word-spacing: 60px; }

  .projects .title {
    text-align: center; }

  .projects .left-top-text {
    text-align: center; }

  .projects .left-bottom-text {
    text-align: center; }

  .phone {
    display: flex;
    justify-content: center; }

  .page {
    position: relative; }

  /*===============menu============== */
  .logo {
    z-index: 1; }

  .brandname-active {
    z-index: 1;
    color: white !important;
    text-shadow: 0 0 1px red; }

  .navbar-active {
    transition: all 0.5s;
    z-index: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0 !important;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh; }

  .nav-link {
    text-shadow: 0 0 1px red;
    color: white !important;
    font-size: 2rem !important; }

  /*-------------menu-------------------*/
  .navbar {
    top: -100%;
    position: absolute; }

  .burger {
    display: block; }

  .title {
    flex-direction: column;
    padding-bottom: 0 !important; }
    .title .left {
      text-align: center; }
    .title .left-text-top {
      margin: 20px 0; }
    .title .middle {
      justify-content: center;
      margin: 20px 0; }
    .title .right {
      justify-content: center; } }
