@import './fonts';
.page{
    display: grid;
    overflow: hidden;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.header{
    margin-top: 5px;
    h1{
        display: inline;
        margin: 0;
    }
    .nav-item{
        list-style: none;
    }
    .navbar{
        margin: 0;
    }
    .nav-link{
        color: #999999;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 700;
        line-height: 72px;
        text-transform: uppercase;
        letter-spacing: 0.65px;
        
    }
    .active{
        color: #303941 ;
    }
    .menu{
        margin-left: auto;
    }
    .brandname{
        margin-left: 11px;
        color: #3f3b48;
        font-family: Mistral;
        font-size: 42px;
        font-weight: 400;
        line-height: 42px;
    }
    .fa-icon{
       margin-left: 10px;
        color: black;
        font-size: 15px;
        font-weight: 400;
        line-height: 72px;
        text-transform: uppercase;
        letter-spacing: 0.75px;
        text-align: center;
        border-radius: 50%;
        i{
            padding: 8px;
            font-size: 16px;
            border: 2px solid #303941;
            border-radius: 50%;
        }
    }
}
.mainpage{
    .devices{
        height: 355px;
        background-image: url("../../img/devices.webp") , url("../../img/Mountain.webp") ;
        background-repeat: no-repeat,no-repeat;
        background-position: center -15px ,center 150px;
        
    }
  
    p, h1{
        margin: 0;
    }
    .title {
        margin-top: 70px;
        padding-bottom: 300px;
    }
    .left {
    }
    .left-text-top {
         
     
        color: #3f3b48;
        font-family: Pacifico;
        font-size: 34px;
        font-weight: 400;
       
       
        font-size: 40px;
        letter-spacing: 0.4px;
   
    
    }
    .text-bottom {
       
        color: #3f3b48;
        font-family: "KenyanCoffeeRg";
        font-size: 56px;
        font-weight: 700;
        line-height: 53px;
        text-transform: uppercase;
    }
    .middle {
    }
    .middle-text {
               margin: 0 10px;
        color: #ff0000;
        font-family: "KenyanCoffeeRg";
        font-size: 133px;
        font-weight: 700;
        line-height: 58px;
        text-transform: uppercase;
    }
    .right {
    }
    
    
}
.middle-block{
    margin-top: 52px;
}
.projects{
    background-color: #3f3b48;
    p{
        margin: 0;
        color: #ffffff;
    }
    .title{
        padding-top: 125px;
    }
    .left-top-text {
    
    font-family: Pacifico;
    font-size: 36px;
    font-weight: 400;
    line-height: 1; 
    }
    .left-bottom-text {
        float: right;
        font-family: "KenyanCoffeeRg";
        font-size: 52px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
    }

    .right-text {
        margin-left: 5px;
        font-family: "KenyanCoffeeRg";
        font-size: 104px;
        font-weight: 700;
        line-height: 0.8;
        text-transform: uppercase;
    }
    
    .briliant {

		// .briliant__title
        max-width: 320px;
		&__title {
            color: white;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            line-height: 53px;
            text-transform: uppercase;
		}

		// .briliant__body

		&__body {
        margin-bottom: 30px;
        opacity: 0.6;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
		}
        &__trophy, &__listitems, &__rating{
            color: #ffffff;
            font-family: Montserrat;
            word-spacing: 4px;
            font-size: 14px;
            font-weight: 700;
            line-height: 26px;
            text-transform: uppercase;
        }
		
}
.technologyUse {

    // .technologyUse__title
    padding-left: 50px;
    &__title {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 53px;
        text-transform: uppercase;
    }
}
.technology {

    // .technology__body

    &__body {
    }

   
}


    .phone-background{
            // z-index: 2;
            width: 576px;
            height: 460px;
            position: absolute;
            top: -50px;
            right: -75%;
            background-image: url("../../img/background-phone.png");
            
            background-repeat: no-repeat;
            background-size: 100%;
            
        }
        .phone-image{
            z-index: 4;
            position: relative;

            
        }
        .phone{
            position: relative;
        }
      
      


.android, .html, .css{
    width: 90px;
    height: 100px;
    background-color: 0  #635f6d;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

        color: #ffffff;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
}
.html {
        border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px;
}

.technology-name {

}
.css {
    margin: 0 1px;

}

.android {
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;

}


   .technology-icon{
       font-size: 30px;
   }
    
}

.selectpage {
    padding-bottom: 95px;
    padding-top: 50px;
    // .selectpage__number

    &__number {
        
        color:white;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        border-radius: 10px;
        padding: 12px 15px;
        text-transform: uppercase;
        display: inline-block;
        background-color: #3f3b48;
        border: 3px solid white;
        position: relative;
        z-index: 3;
    }
    

    &__background{
        position: absolute;  
        width: 100%;
        height: 100%;
        background-color: #3f3b48;
        top: 0;
        left: 0;
        border-radius: 10px;
        z-index: 1;
    }
    &__number::after{
        content: ' ';
        position: absolute;
        border: 3px solid white;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 80%;
        height: 140%;
        border-radius: 50%;
        background-color: #3f3b48;
        z-index: -1;
    }
    // .selectpage__currect

    &__currect {
        position: relative;
        z-index: 2;
    }
    
    &__currect::after {
        content: '/';
        display: inline-block;
        
        
    }

    // .selectpage__total

    &__total {
        position: relative;
        z-index: 2;
        font-size: 12px;
        transform: translateY(-0.8rem) translateX(-.2rem);
    }

    &__previos, &__next{
        position: relative;
        z-index: 0;
        width: 160px;    
        color: #333333;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 700;
        line-height: 53px;
        text-transform: uppercase;    
        cursor: pointer; 
    }
    &__previos::after,  &__next::after{
        content: ' ';
        background: white;
        position: absolute;
        top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: -1;
    }
    &__previos::after{
        clip-path: polygon(0 0, 100% 9px, 100% calc(100% - 9px), 0 100%);
    }
     &__next::after{
       clip-path: polygon(100% 0, 100% 100%, 0 calc(100% - 9px), 0 9px);      
     }
}


/*===================footer=================*/
.footer{
    padding: 20px 0;
    background-color: #3f3b48;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    .social{
        margin-left: 5px;
        .fa-icon{
            margin-left: 10px;
        }
    }
   
    .fa-icon{
         color: white;
         text-transform: uppercase;
         letter-spacing: 0.75px;
         text-align: center;
         border-radius: 50%;
         i{
             position: relative;
             font-size: 16px;
             width: 33px;
             height: 33px;          
         }
         i:before{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;         
            border: 2px solid white;
            border-radius: 50%;
         }
     }
}